{{define "body"}}
<div class="main">
    <h1 class="page-header">
        Dashboard
    </h1>
    <div id="loading">
        <i class="fa fa-spinner fa-spin fa-4x"></i>
    </div>
    {{template "flashes" .Flashes}}
    <div id="emptyMessage" style="display:none;">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Getting Started</h3>
            </div>
            <div class="card-body">
                {{if .ModifyObjects}}
                <p>You haven't launched a campaign yet. Here's what you'll need:</p>
                <ul class="list-unstyled" id="gettingStartedSteps">
                    <li data-step="sendingProfile"><i class="fa fa-circle-o"></i> <a href="/sending_profiles">Add a sending profile</a></li>
                    <li data-step="template"><i class="fa fa-circle-o"></i> <a href="/templates">Create an email template</a></li>
                    <li data-step="landingPage"><i class="fa fa-circle-o"></i> <a href="/landing_pages">Create a landing page</a></li>
                    <li data-step="group"><i class="fa fa-circle-o"></i> <a href="/groups">Add a group of users</a></li>
                </ul>
                <a href="/campaigns" class="btn btn-primary">Launch Your First Campaign</a>
                {{else}}
                <p>No campaigns created yet.</p>
                {{end}}
            </div>
        </div>
    </div>
    <div id="dashboard" style="display:none;">
        <div class="card mb-3">
            <div class="card-body">
                <div id="overview_chart" style="height:200px;"></div>
            </div>
        </div>
        <div class="row g-3 mb-3">
            <div class="col-lg-2 col-md-2 offset-lg-1 offset-md-1">
                <div id="sent_chart" style="height:150px;"></div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div id="opened_chart" style="height:150px;"></div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div id="clicked_chart" style="height:150px;"></div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div id="submitted_data_chart" style="height:150px;"></div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div id="email_reported_chart" style="height:150px;"></div>
            </div>
        </div>
        <div class="d-flex justify-content-between align-items-center flex-wrap gap-2 mb-3">
            <h2 class="mb-0">Recent Campaigns</h2>
            <a href="/campaigns">
                <button type="button" class="btn btn-primary">View All</button>
            </a>
        </div>
        <div class="card">
            <div class="card-body">
                <table id="campaignTable" class="table">
                    <thead>
                        <tr>
                            <th class="col-md-2 col-sm-2">Name</th>
                            <th class="col-md-2 col-sm-2">Created Date</th>
                            <th class="col-md-1 col-sm-1">
                                <i class="fa fa-envelope-o" style="color:#1abc9c"></i>
                            </th>
                            <th class="col-md-1 col-sm-1">
                                <i class="fa fa-envelope-open-o" style="color:#f9bf3b"></i>
                            </th>
                            <th class="col-md-1 col-sm-1">
                                <i class="fa fa-mouse-pointer" style="color:#F39C12"></i>
                            </th>
                            <th class="col-md-1 col-sm-1">
                                <i class="fa fa-exclamation-circle" style="color:#f05b4f"></i>
                            </th>
                            <th class="col-md-1 col-sm-1">
                                <i class="fa fa-bullhorn" style="color:#45d6ef"></i>
                            </th>
                            <th class="col-md-1 col-sm-1">Status</th>
                            <th class="col-md-2 col-sm-2 no-sort"></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{{end}} {{define "scripts"}}
<script src="/js/dist/app/dashboard.min.js"></script>
{{end}}