{{define "body"}}
<div class="main">
    <div class="d-flex justify-content-between align-items-center flex-wrap gap-2 mb-3">
        <h1 class="page-header mb-0">Users &amp; Groups</h1>
        {{if .ModifyObjects}}
        <button type="button" class="btn btn-primary" onclick="edit(-1)" data-bs-toggle="modal" data-bs-backdrop="static"
            data-bs-target="#modal">
            <i class="fa fa-plus"></i> New Group</button>
        {{end}}
    </div>
    <div id="flashes" class="row"></div>
    &nbsp;
    <div id="loading">
        <i class="fa fa-spinner fa-spin fa-4x"></i>
    </div>
    <div id="emptyMessage" class="row" style="display:none;">
        <div class="alert alert-info">
            No groups created yet.{{if .ModifyObjects}} Let's create one!{{end}}
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <table id="groupTable" class="table" style="display:none;">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th># of Members</th>
                        <th>Modified Date</th>
                        <th class="col-md-2 no-sort"></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="groupModalLabel">New Group</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row" id="modal.flashes"></div>
                <label class="col-form-label" for="name">Name:</label>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="group.name" placeholder="Group name" id="name"
                        autofocus />
                </div>
                <div class="form-group">
                    <span class="btn btn-primary btn-file" data-bs-toggle="tooltip" data-bs-placement="right"
                        title="Supports CSV files" id="fileUpload">
                        <i class="fa fa-plus"></i> Bulk Import Users
                        <input type="file" id="csvupload" multiple>
                    </span>
                    <span id="csv-template" class="text-muted small">
                        <i class="fa fa-file-excel-o"></i> Download CSV Template</span>
                </div>
                <form id="targetForm" class="row">
                    <div class="col-sm-2">
                        <input type="text" class="form-control" placeholder="First Name" id="firstName">
                    </div>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" placeholder="Last Name" id="lastName">
                    </div>
                    <div class="col-sm-3">
                        <input type="email" class="form-control" placeholder="Email" id="email" required>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" placeholder="Position" id="position">
                    </div>
                    <div class="col-sm-1">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-plus"></i> Add</button>
                    </div>
                </form>
                <br />
                <table id="targetsTable" class="table table-hover table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Position</th>
                            <th class="no-sort"></th>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="modalSubmit">Save changes</button>
            </div>
        </div>
    </div>
</div>
{{end}} {{define "scripts"}}
<script src="/js/dist/app/groups.min.js"></script>
{{end}}