{{define "body"}}
<div class="main">
    <div class="d-flex justify-content-between align-items-center flex-wrap gap-2 mb-3">
        <h1 class="page-header mb-0">Sending Profiles</h1>
        {{if .ModifyObjects}}
        <button type="button" class="btn btn-primary" onclick="edit(-1)" data-bs-toggle="modal" data-bs-backdrop="static"
            data-bs-target="#modal"><i class="fa fa-plus"></i> New Profile</button>
        {{end}}
    </div>
    <div id="flashes" class="row"></div>
    &nbsp;
    <div id="loading">
        <i class="fa fa-spinner fa-spin fa-4x"></i>
    </div>
    <div id="emptyMessage" class="row" style="display:none;">
        <div class="alert alert-info">
            No profiles created yet.{{if .ModifyObjects}} Let's create one!{{end}}
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <table id="profileTable" class="table" style="display:none;">
                <thead>
                    <tr>
                        <th class="col-md-4">Name</th>
                        <th>Interface Type</th>
                        <th>Last Modified Date</th>
                        <th class="col-md-2 no-sort"></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- New Template Modal -->
            <div class="modal-header">
                <h4 class="modal-title" id="profileModalLabel">New Sending Profile</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="dismiss()"></button>
            </div>
            <div class="modal-body">
                <div class="row" id="modal.flashes"></div>
                <form>
                    <div class="form-group">
                        <label class="col-form-label" for="name">Name:</label>
                        <input type="text" class="form-control" placeholder="Profile name" id="name" autofocus />
                        <label class="col-form-label" for="interface_type">Interface Type:</label>
                        <input type="text" class="form-control" value="SMTP" id="interface_type" disabled />
                        <label class="col-form-label" for="from">SMTP From: <i class="fa fa-question-circle"
                                data-bs-toggle="tooltip" data-bs-placement="right" title="Set this to an email address from your sending domain to bypass SPF-checks. You can set the Envelope Sender in Email Templates. The Envelope Sender is shown to the user."></i></label>
                        <input type="text" class="form-control" placeholder="test@example.com" id="from"
                            required />
                        <label class="col-form-label" for="cc">CC: <i class="fa fa-question-circle"
                                data-bs-toggle="tooltip" data-bs-placement="right" title="Comma-separated list of email addresses to CC on every email sent through this profile. Leave blank for no CC."></i></label>
                        <input type="text" class="form-control" placeholder="cc1@example.com, cc2@example.com" id="cc" />
                        <label class="col-form-label" for="host">Host:</label>
                        <input type="text" class="form-control" placeholder="smtp.example.com:25" id="host" required />
                        <label class="col-form-label" for="username">Username:</label>
                        <input type="text" class="form-control" placeholder="Username" id="username" />
                        <label class="col-form-label" for="password">Password:</label>
                        <input type="password" class="form-control" placeholder="Password" id="password" />
                        <div class="checkbox checkbox-primary">
                            <input id="ignore_cert_errors" type="checkbox" checked>
                            <label for="ignore_cert_errors">Ignore Certificate Errors <i class="fa fa-question-circle"
                                    data-bs-toggle="tooltip" data-bs-placement="right" title="Ignore common certificate errors such as self-signed certs (exposes you to MiTM attacks - use carefully!)"></i></label>
                        </div>
                        <label class="col-form-label" for="send_rate">Send Rate (emails/sec): <i
                                class="fa fa-question-circle" data-bs-toggle="tooltip" data-bs-placement="right"
                                title="Maximum number of emails sent per second. Set to 0 for unlimited. Use this to respect your SMTP gateway's rate limits."></i></label>
                        <input type="number" class="form-control" placeholder="0 (Unlimited)" id="send_rate" min="0"
                            value="0" />
                    </div>
                    <fieldset class="form-group">
                        <label class="col-form-label input-group">Email Headers:</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" name="headerKey" id="headerKey" placeholder="X-Custom-Header">
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control" name="headerValue" id="headerValue" placeholder='{{"{{"}}.URL{{"}}"}}-gophish'>
                        </div>
                        <div class="col-md-2">
                            <button id="addCustomHeader" class="btn btn-primary btn-headers" type="button"><i class="fa fa-plus"></i> Add
                                Custom Header</button>
                        </div>
                    </fieldset>
                    <table id="headersTable" class="table table-hover table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>Header</th>
                                <th>Value</th>
                                <th class="no-sort"></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <button type="button" data-bs-toggle="modal" data-bs-backdrop="static" data-bs-target="#sendTestEmailModal"
                        class="btn btn-primary"><i class="fa fa-envelope"></i> Send Test Email</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="btn btn-secondary" onclick="dismiss()">Cancel</button>
                <button type="button" class="btn btn-primary" id="modalSubmit">Save Profile</button>
            </div>
        </div>
    </div>
</div>
<!-- Send Test Email Modal -->
<div class="modal" id="sendTestEmailModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- New Email Modal -->
            <div class="modal-header">
                <h4 class="modal-title" id="sendTestEmailModalTitle">Send Test Email</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row" id="sendTestEmailModal.flashes"></div>
                <div class="row">
                    <div class="col-sm-12">
                        <label class="col-form-label" for="to">Send Test Email to:</label>
                    </div>
                    <br>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" placeholder="First Name" name="to_first_name">
                    </div>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" placeholder="Last Name" name="to_last_name">
                    </div>
                    <div class="col-sm-4">
                        <input type="email" class="form-control" placeholder="Email" name="to_email" required>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" placeholder="Position" name="to_position">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="btn btn-secondary">Cancel</button>
                <button type="button" class="btn btn-primary" id="sendTestModalSubmit" onclick="sendTestEmail()"><i
                        class="fa fa-envelope"></i> Send</button>
            </div>
        </div>
    </div>
</div>
{{end}} {{define "scripts"}}
<script src="/js/dist/app/sending_profiles.min.js"></script>
{{end}}
