{{define "body"}}
<div class="main">
    <div class="d-flex justify-content-between align-items-center flex-wrap gap-2 mb-3">
        <h1 class="page-header mb-0">Email Templates</h1>
        {{if .ModifyObjects}}
        <button type="button" class="btn btn-primary" onclick="edit(-1)" data-bs-toggle="modal" data-bs-backdrop="static"
            data-bs-target="#modal"><i class="fa fa-plus"></i> New Template</button>
        {{end}}
    </div>
    <div id="flashes" class="row"></div>
    &nbsp;
    <div id="loading">
        <i class="fa fa-spinner fa-spin fa-4x"></i>
    </div>
    <div id="emptyMessage" class="row" style="display:none;">
        <div class="alert alert-info">
            No templates yet.{{if .ModifyObjects}} Let's create one!{{end}}
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <table id="templateTable" class="table" style="display:none;">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Modified Date</th>
                        <th class="col-md-2 no-sort"></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- New Template Modal -->
            <div class="modal-header">
                <h4 class="modal-title" id="templateModalLabel">New Template</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="dismiss()"></button>
            </div>
            <div class="modal-body">
                <div class="row" id="modal.flashes"></div>
                <label class="col-form-label" for="name">Name:</label>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="template.name" placeholder="Template name" id="name"
                        autofocus />
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-backdrop="static" data-bs-target="#importEmailModal"><i
                            class="fa fa-envelope"></i>
                        Import Email</button>
                </div>
                <label class="col-form-label" for="envelope-sender">Envelope Sender: <i class="fa fa-question-circle" data-bs-toggle="tooltip" data-bs-placement="right" title="This sender is shown to the user by most email clients. Defaults to the SMTP From as defined in the Sending Profile."></i></label>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="First Last <test@example.com>" id="envelope-sender" />
                </div>
                <label class="col-form-label" for="subject">Subject:</label>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Email Subject" id="subject" />
                </div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" role="text"><a class="nav-link active" href="#text" aria-controls="text" role="tab" data-bs-toggle="tab">Text</a></li>
                    <li class="nav-item" role="html"><a class="nav-link" href="#html" aria-controls="html" role="tab" data-bs-toggle="tab">HTML</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="text">
                        <textarea rows="10" id="text_editor" class="gophish-editor form-control" placeholder="Plaintext"></textarea>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="html">
                        <textarea id="html_editor"></textarea>
                    </div>
                </div>
                <div class="checkbox checkbox-primary">
                    <input id="use_tracker_checkbox" type="checkbox" checked>
                    <label for="use_tracker_checkbox">Add Tracking Image</label>
                </div>
                <span class="btn btn-primary btn-file"><i class="fa fa-plus"></i> Add Files
                    <input id="attachmentUpload" type="file" onchange="attach(this.files)" multiple>
                </span>
                <br />
                <br />
                <table id="attachmentsTable" class="table">
                    <thead>
                        <tr>
                            <th class="col-md-1 no-sort"></th>
                            <th class="col-md-10">Name</th>
                            <th class="col-md-1 no-sort"></th>
                            <th class="datatable_hidden no-sort">Content</th>
                            <th class="datatable_hidden no-sort">Type</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <hr>
            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="btn btn-secondary" onclick="dismiss()">Cancel</button>
                <button type="button" class="btn btn-primary" id="modalSubmit">Save Template</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="importEmailModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- New Email Modal -->
            <div class="modal-header">
                <h4 class="modal-title" id="importEmailModalLabel">Import Email</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row" id="modal.flashes"></div>
                <label class="col-form-label" for="email">Email Content:</label>
                <div class="form-group">
                    <textarea rows="10" id="email_content" class="gophish-editor form-control" placeholder="Raw Email Source"></textarea>
                </div>
                <div class="checkbox checkbox-primary">
                    <input id="convert_links_checkbox" type="checkbox" checked>
                    <label for="convert_links_checkbox">Change Links to Point to Landing Page</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="btn btn-secondary">Cancel</button>
                <button type="button" class="btn btn-primary" id="modalSubmit" onclick="importEmail()">Import</button>
            </div>
        </div>
    </div>
</div>
{{end}}
{{define "scripts"}}
<script src="/js/dist/app/ckeditor-setup.min.js"></script>
<script src="/js/dist/app/templates.min.js"></script>
{{end}}
